<section class="bg-secondary" id="education">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <h2 class="section-heading">Transforming Futures, One Byte at a Time:</h2>
                <h3 class="section-heading">Using collaboration to remove roadblocks and accelerate progress.</h3>
                <hr class="light">
                <p>We create sustainable, accessible, and replicable models for serving communities while providing a real-world testbed for clean technology, sustainable agriculture, and innovative integrations.</p>
                <br>
                <p>Our project is rooted in the principles of open-source collaboration, extending beyond the boundaries of a single location to inspire cities worldwide to joins us and build upon our ideas. We envision a network of interconnected LABs spanning the globe, continuously expanding and collaborating to accelerate progress. It’s about igniting a global movement for a more sustainable and prosperous future, where cities everywhere unite to conquer food insecurity.</p>
                <br>
                <p>Our vision is to mentor youth and provide access to technology, so they can build their own advanced, sustainable, smart farm businesses. The project is a space for students and industry to experiment together, learn new skills and push technology forward. Technology companies are invited to collaborate and integrate their technology while the students learn to utilize the tech and use their creativity to further advance and improve the system.</p>
                <a href="#" class="btn btn-default btn-xl">Our Digital Infrastructure</a>
            </div>
        </div>
    </div>
</section>
<section class="bg-secondary" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <h1 class="section-heading">The Blockchain Solution:</h1>
                <h2 class="section-heading">Quadratic Funding for Impact</h2>
                <br>
                <p>By utilizing quadratic funding and regenerative crypto, we can maximize the impact of every donation, foster community-driven initiatives, and promote long-term sustainability. Our commitment to innovation extends to our fundraising strategies. From carbon-neutral blockchain networks to worldwide decentralized platforms for funding public goods, embracing regenerative crypto economics offers immense potential for humanity.</p>
                <a href="#" class="btn btn-default btn-xl">Why Web3?</a>
            </div>
        </div>
    </div>
</section>
