<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading"> A Decentralized Global Smart Farm </h1>
                <hr class="light">
            </div>
        </div>
    </div>
</section>
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading"> {{"Built"|capitalize}}  for the public </h1>
                <hr class="light">
            </div>
        </div>
    </div>
</section>
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading"> Owned by the public </h1>
                <hr class="light">
            </div>
        </div>
    </div>
</section>
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading">For the public</h1>
                <hr class="light">
            </div>
        </div>
    </div>
</section>
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#" class="btn btn-default btn-xl">The RootedLABs Project</a>
            </div>
        </div>
    </div>
</section>
<section class="bg-secondary" id="overview">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <h1 class="section-heading">Growing Food, Growing Technology</h1>
                <h2 class="section-heading">We're not content with the status quo; we envision a vibrant, sustainable future.</h2>
                <hr class="light">
                <p>RootedLABs is testing the potential of technology in agriculture to supply fresh, healthy food for free.</p>
                <br>
                <p>The project aims to push beyond barriers and exemplify what’s possible when the power of decentralized networks, open-source collaboration, and cutting-edge technology unity to uplift our communities and the planet. The project is a playground for participants to collaborate together to create a global system of interconnected smart farms that serve to produce free food for their communities and fight climate change. </p>
                <a href="#" class="btn btn-default btn-xl">Our Digital Infrastructure</a>
            </div>
        </div>
    </div>
</section>
<section class="bg-primary" id="education">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading">Transforming Futures, One Byte at a Time:</h1>
                <h2 class="section-heading">Using collaboration to remove roadblocks and accelerate progress.</h2>
                <hr class="light">
                <p class="text-faded">We create sustainable, accessible, and replicable models for serving communities while providing a real-world testbed for clean technology, sustainable agriculture, and innovative integrations.</p>
                <br>
                <p class="text-faded">Our project is rooted in the principles of open-source collaboration, extending beyond the boundaries of a single location to inspire cities worldwide to build upon our ideas. We envision a network of interconnected LABs spanning the globe, continuously expanding and collaborating to accelerate progress. It’s about igniting a global movement for a more sustainable and prosperous future, where cities everywhere unite in the pursuit of positive transformation.</p>
                <br>
                <p class="text-faded">Our vision is to mentor youth and provide access to technology, so they they can build their own advanced, smart farm businesses. The project is a space for students and industry to experiment together, and push technology forward. Technology companies are invited to collaborate and integrate their technology while the students learn to utilize the tech and use their creativity to further advance and improve the system.</p>
                <a href="#" class="btn btn-default btn-xl">Collaborate With Us</a>
            </div>
        </div>
    </div>
</section>
<section class="bg-secondary" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading">The Blockchain Solution:</h1>
                <h2 class="section-heading">Quadratic Funding for Impact</h2>
                <hr class="light">
                <p class="text-faded">By utilizing quadratic funding and regenerative crypto, we can maximize the impact of every donation, foster community-driven initiatives, and promote long-term sustainability. Our commitment to innovation extends to our fundraising strategies. From carbon-neutral blockchain networks to worldwide decentralized platforms for funding public goods, embracing regenerative crypto economics offers immense potential for humanity.</p>
                <a href="#" class="btn btn-default btn-xl">Why Build a DAO?</a>
            </div>
        </div>
    </div>
</section>