<section class="bg-secondary" id="overview">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <h1 class="section-heading">GROWING FOOD, GROWING TECHNOLOGY:</h1><br>
                <h2 class="section-heading">RootedLABs is testing the potential of technology in agriculture to supply fresh, healthy food for free.</h2>
                <br>
            </div>
        </div>
    </div>
</section>
<section class="bg-secondary" id="overview">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <h1 class="section-heading">TO THE WORLD.</h1>
            </div>
        </div>
    </div>
</section>
<section class="bg-secondary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#" class="btn btn-default btn-x1">Collaborate With Us</a>
            </div>
        </div>
    </div>
</section>
<section class="bg-secondary" id="overview">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <h2 class="section-heading">We're not content with the status quo; we envision a vibrant, sustainable future.</h2>
                <br>
                <h2 class="section-heading">And we need your help.</h2>
                <br>
                <p>The RootedLABs project aims to push beyond barriers and exemplify what’s possible when the power of decentralized networks, open-source collaboration, and cutting-edge technology unite to uplift our communities and the planet.</p>
                <br>
                <p>The project is a playground for participants to collaborate together to create a global system of interconnected smart farms that serve to produce free food for their communities and fight climate change. </p>
            </div>
        </div>
    </div>
</section>
